.delete-form {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  height: 150px;
  margin: auto;
  background: rgb(29, 51, 87);
  border-radius: 5px;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  z-index: 1;
}

.delete-form > div {
  min-height: 20px;
}
.bold-text{
  font-weight: bold
}
.close-button {
  text-align: right;
}

.delete-form .div-button {
 display: flex;
 justify-content: center;
}

.delete-form button {
  cursor: pointer;
  border: none;
  background:rgb(47, 101, 172);
  width: 80px;
  height: 35px;
  margin: 13px 20px;
  border-radius: 3px;
  opacity: 0.9;
  /* box-shadow: 2px 2px rgba(0, 0, 0, 0.3); */
  color: #5ec6f0 ;
  font-size: 16px;
}
.delete-form button:hover{
  opacity: 1;
  color: white;
}