.product-item   {
    box-sizing: content-box;
    width: 90%;
    height: 100px;
    margin: 15px auto;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-areas: "i t";
    text-align: left;
    padding: 10px 10px;
    border: 1px solid grey;
    box-shadow: 2px 5px 7px #547d8d;
    font-family: Arial, Helvetica, sans-serif;
}
.text-bold  {
   font-weight: bold;
}
.text-italic    {
    font-style: italic;
    color: grey;
}
.products-list-container{
 height:550px;
    
}
.clicked    {
    background-color: #94d0f3;
}
.img-thumbnail  {
    grid-area: i;
    vertical-align: middle;
    margin: auto 5px;;
}
.img-100    {
    width: 90px;
}
.product-descr  {
    position: relative;
    margin: 5px 15px;
    grid-area: t;
    overflow: hidden;
}
.btn {
    border: none;
    color: white;
    padding: 10px 26px;
    text-align: center;
    font-size: 10px;
    border-radius: 4px;
    box-shadow: 3px 5px 2px #888888;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }

  .btn-delete{
    background-color: #f4511e;
    position: absolute;
    margin: 2px 2px;
    bottom: 0;
    right: 0;
  }
  
  .btn:hover {opacity: 1}